body {
    background: #3553ab;
    color: #FCF3CF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    color: #ffffff;
    font-size: min(6vw, 48px);
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 10px;
}

header {
    width: 100%;
    background-color: #1b1b32;
    display: flex;
    align-items: center;
}

main {
    padding-top: 10px;
}

.metric {
    border: 1px;
    border-radius: 5px;
    color: #ffffff;
    border-color: inherit;
    border-style: solid;
    width: min(28vw, 10em); 

    
    font-size: min(5vw, 25px);
    text-align: center;
    padding-top: 0.5em;

}

.metric-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(1.5vw, 10px);
}

@media screen and (max-width: 600px) {

    .metric-row {
        flex-direction: column;
        align-items: center;
    }

    .metric {
        width:65%;
    }
 }